[submodule "share/sppapps-camera-shared"]
	path = share/sppapps-camera-shared
	url = git@github.com:arnauddeman/sppapps-camera-shared
[submodule "shared/shared/sppapps-camera-shared"]
	path = shared/shared/sppapps-camera-shared
	url = git@github.com:arnauddeman/sppapps-camera-shared.git
[submodule "shared/sppapps-camera-shared"]
	path = shared/sppapps-camera-shared
	url = git@github.com:arnauddeman/sppapps-camera-shared.git
