.snap {
    display: flex;
    flex-grow: 1;

    .main-container {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        .snap-control-container {
            margin: 1em 0 2em 0;
        }
        .control-container {
            display: flex;
            flex-grow: 1;
            align-items: flex-end;
            padding-bottom: 0.4em;
        }
    }
}
