@import "_grey";
@import "_green";

.snap-control {
    margin: 0;
    padding: 0.4em;
    display: flex;
    outline: none;
    border: 1px solid $medium-grey;
    background: transparent;
    border-radius: 0.4em;

    &:not(:disabled) {
        cursor: pointer;
        i {
            color: $medium-green;
        }

        &:hover {
            background-color: $very-light-grey;
        }
    }
}
