<div flexHost class="snap">
        <div class="main-container">
                <div class="webcam-container">
                        <webcam *ngIf="active$ | async" [trigger]="snap$" [height]="200" [width]="200"
                                (imageCapture)="onImageCapture($event)">
                        </webcam>
                </div>
                <div class="control-container">
                        <sppapps-snap-control></sppapps-snap-control>
                </div>
                <div class="gallery-container">
                        <sppapps-capture-gallery></sppapps-capture-gallery>
                </div>
        </div>
</div>