@import "_grey";
@import "_blue";
@import "_grey";
@import "_red";

.snap {
    .webcam-container {
        .webcam-wrapper {
            border-radius: 0.4em;
            overflow: hidden;
            background-color: $very-light-grey;
        }
    }
    &.ready {
        .webcam-container {
            .webcam-wrapper {
                border: 1px solid black;

                // mat-elevation-z4
                box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
            }
        }
    }
}
